---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body{
	margin: 0;
	background-color:#091825;
}

// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

$font-size: 16px;
$font-family: Helvetica, sans-serif;
$alt-font-family: monospace;
$font-color: #353535;

//colors
$primary-color   : #FF512F;
$secondary-color : #333;
$form-bg         : #fff;


//contact form
.contact-form
{
    margin-top: 30px;
}
.input-block
{
    background-color: rgba(white, .8);
    border: solid 1px $primary-color;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
}
label{
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: $secondary-color;
    font-size: 18px;
    line-height: 10px;
}
.form-control{
    background-color: transparent;
    padding: 0;
    border: none;
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: $secondary-color;
}
.form-control:focus
{
    label{
        top: 0;
    }
}
.square-button{
    background-color: rgba(white, .8);
    color: darken($primary-color, 10%);
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%;
}

//tablet and above devices
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}

.contact-wrap{
  padding: 15px;
}

/* Social Icons */
$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest:	#cb2027 !default;
$google: #dd4b39 !default;