<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body>
		<div class="container-fluid">
		  	<div class="row">
			    <center>
			    	<a href="https://thedarkerarts.github.io/"><img style="margin:20px;width:200px;" class="animate__animated animate__pulse" src="img/logo.png"></a>
	  				<h4 class="animate__animated animate__pulse" style="color:#437F97;">★Roses Are Red Violets Are Blue This Art Will Amaze You★</h4>
	  				<br>
	  				<a href="https://www.instagram.com/the_darker_arts/"><img style="height:40px;" src="img/instagram.png"></a>
	  				<br>
	  				<img style="height:5px;" src="img/divider.png">
	  				<br>
	  				<a href="index.html">Home</a> ~ <a href="contactme.html">Contact Me</a>
	  			</center>
			</div>
			{{ content }}
			</div>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
	</body>
</html>

